body {
  font-family: sans-serif;
  background-color: #a6d6d6;
  padding: 28px;
  text-align: center;
}

header {
  background-color: #8e7dbe;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

nav {
  background-color: #f7cfd8;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #8e7dbe;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #f4f8d3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card :hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content h3 {
  margin-top: 0;
  color: #8e7dbe;
}

.card-content p {
  font-size: 20px;
  color: #8e7dbe;
}

section {
  margin: 20px auto;
  padding: 20px;
  background-color: #f7cfd8;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
